body {
    background-color: #f4f6f9;
    font-family: 'Segoe UI', sans-serif;
}

/* STEPS */
.steps {
    display: flex;
    justify-content: space-between;
}

.step {
    flex: 1;
    text-align: center;
    padding: 10px;
    background: #e9ecef;
    border-radius: 20px;
    margin-right: 10px;
    font-size: 14px;
}

.step.active {
    background: #0d6efd;
    color: white;
    font-weight: 600;
}

/* DOCTOR CARD */
.doctor-card {
    background: #f8f9fa;
    padding: 15px;
    border-radius: 10px;
}
