* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background-color: #f5f7fa;
}

.auth-container {
    display: flex;
    height: 100vh;
}

/* LEFT IMAGE */
.auth-image {
    width: 50%;
    background-color: #eef3f8;
    display: flex;
    align-items: center;
    justify-content: center;
}

.auth-image img {
    width: 80%;
    max-width: 450px;
}

/* RIGHT FORM */
.auth-form {
    width: 50%;
    background: #ffffff;
    
    padding: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.auth-form h2 {
    font-weight: 600;
}

.form-control {
    height: 45px;
    border-radius: 10px;
}

.btn {
    height: 45px;
    border-radius: 10px;
}
